{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<link href="{% static 'comic/tablas.css' %}" rel="stylesheet" type="text/css" media="all" />
<h1>Collecion: {{collection}}</h1>

<div id="form_loc"><form action="{% url 'comics:create_col' %}" method="POST" >

 {% csrf_token %}
	<table id="tabla_formulario">
		<tr><td>Añadir nuevo comic</td></tr>
		<tr><td>
			{% if messages %}
    				{% for message in messages %}
   					 <span style="color:red;font-weight:bold">{{ message }}</span><br/>
    				{% endfor %}
			{% endif %}
			<input type="hidden" name="collection" value="{{collection.id}}/> 			
			{{form.as_p}}
			<input type="submit" value="Crear"></table></td></tr>	

</form>
{% if collection.comic_set.all %}
	<table id="tabla_formulario">
		<tr><td>Colecciones creadas</td></tr>
	{% for comic in collection.comic_set.all %}
		<tr>	
		<td>{{comic.nombre}}&nbsp;({{comic.numero_en_coleccion}}&nbsp;{{comic.localizacion}})</td>
		</tr>
	{% endfor %}
		
	</table>
{% else %}
	<p>No tienes comics de esta colección.</p>
{% endif %}
</div>
{%endblock %}


