{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<link href="{% static 'comic/tablas.css' %}" rel="stylesheet" type="text/css" media="all" />
<h1>Localizaciones</h1>
<div id="form_loc"><form action="{% url 'comics:create_loc' %}" method="POST" >

 {% csrf_token %}
	 {% csrf_token %}
	<table id="tabla_formulario">
		<tr><td>Añadir nueva localización</td></tr>
		<tr><td>
			{% if messages %}
    				{% for message in messages %}
   					 <span style="color:red;font-weight:bold">{{ message }}</span><br/>
    				{% endfor %}
			{% endif %}			
			{{form.as_p}}
			<input type="submit" value="Crear"></table></td></tr>	

</form>
{% if location_list %}
	<table id="tabla_formulario">
		<tr><td>Localizaciones creadas</td></tr>
	{% for location in location_list %}
		<tr>	
		<td>{{location.nombre}}</td>
		</tr>
	{% endfor %}
		
	</table>
{% else %}
	<p>No se han creado localizaciones.</p>
{% endif %}
</div>
{%endblock %}


